# Environment variables for the backend application

# MongoDB connection string for connecting to the database
MONGODB_URL = 

# Cloudinary configuration for media management
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

# Port number on which the backend server will run
PORT =

# Secret key for JWT (JSON Web Token) generation and verification
JWT_SECRET = 