# Environment variables for the admin panel

# The VITE_BACKEND_URL variable is used to specify the URL of the backend server that the admin panel will communicate with. 
# This allows the admin panel to make API requests to the backend server for data retrieval and manipulation.
VITE_BACKEND_URL = 